@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --green-main: #579e79;
}

.cardenio {
  font-family: var(--font-cardenio);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.moon {
  font-family: var(--font-moon);
}

.spicy {
  font-family: var(--font-spicy);
}

.playfulist {
  font-family: var(--font-playfulist);
}

.tx-green {
  color: var(--green-main);
}

.image-reel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
